@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

*{
    color: #F33A6A;
    font-family: Amatic SC, serif;
    font-size: 20px;
    border-radius: 25px;
}

body {
    display: flex;
    margin: 0;
    height: 100vh;
    background-color: white;
    }

.container {
    display: flex; 
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
}


.header {
    display: flex;
    background-color: #E0BFB8;
    align-items: center;
    justify-content: space-between;
}


.logo 
{
    margin-left: 50px;
}

.logo a {
    font-size: 45px;
    font-weight: bold;
    text-decoration: none;
}

.title
{
    font-size: 80px;
    font-weight: bolder;
    margin-right:385px;
}

.body
{
    display: flex;
}


.sidebar
{   display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D8BFD8;
    margin-left: 450px;
    margin-top: 50px;
    height: fit-content;
}

.ingredients
{
    width: 215px;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    font-size: 40px;
    font-weight: bolder;
    gap: 97px;
}


.ingredients li
{
    margin: 0;
    padding: 0;
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
}


.textbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin-left: 100px;
    background-color: white;
    gap: 50px;
}

.poem{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color:  #F3CFC6;
    width: 700px;
} 

.poem div
{    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.footer
{
    display: flex;
    justify-content: space-around;
    width: 1500px;
}

.method 
{
    font-size: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    padding: 0;
    margin: 0;
    font-weight: 999;
    width: 700px;
}

.method li 
{   
    margin: 0;
    padding: 0;
    font-size: 35px;
    text-align: center;
    font-weight: 999;
    width: 320px;
    height: 250px;
    background-color: #F3CFC6;
    color: #F33A6A;
    display: flex;
    align-items: center;
}

.method li:hover
{
    background-color: #C9A9A6;
    color: bisque;
}

.footer {
    width: 100%;
    display: flex;
    background-color: #E0BFB8;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.footer > *
{
    font-size: 20px;
    font-weight: 900;
}