@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

*{
    font-family: Amatic SC, serif;
    border-radius: 20px;
    color: #FFF8DC;
    font-weight: 800;
}


body 
{
    margin: 0;
    
}

a
{
    text-decoration: none;
}

.wrapper
{   
    display: flex;
    flex-direction: column;
    background-color: #FFFDD0;
}

.header
{   
    display: flex;
    background-color: #7393B3;
    border-radius: 0;
}



.indexlogo
{
    flex-basis: 40%;
    font-size: 35px;
    text-align: center;
}

.links

{
    flex-basis: 60%;
    display: flex;
    justify-content: flex-end;
    font-size: 35px;
    gap: 4rem;
    align-items: center;
}

.recipeslink
{
    margin-right: 4rem;
}


.indexmain
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.indexmain .poem
{
    padding: 0.5rem;
}


.indexmain p
{
    font-size: 35px;
    background-color: #7393B3;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 6rem;
}

.latestrecipes
{
    display: flex;
    gap: 3.5rem;
}

.card
{
    height: 20rem;
    width: 23.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

.card .linktorecipe
{
    text-align: center;
    font-size: 30px;
    background-color: #7393B3;
    text-decoration: none;
    
  
}
 .indexfooter
    {   background-color: #7393B3;
        margin-top: 8rem;
        height: 4.6rem;
        border-radius: 0;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


.cookiesmain
{
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cookiesmain h1
{
    background-color: #7393B3;
}

.cookiesmain p
{
    color: steelblue;
}

.qanda
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
}

.aboutmain
{
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.aboutmain h1,
.aboutmain h4
{
    padding-left: 1rem;
    padding-right: 1rem;
}

.aboutmain h1,
.aboutmain p
{
    background-color: #7393B3;
}

.aboutmain h4
{
    margin-bottom:0;
    background-color: palegreen;
    color: #5D3FD3;
    align-self: flex-start;
}

.aboutmain p
{   padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    align-self: flex-end;
}



.logo
{
    flex-basis: 40%;
    display: flex;
    align-items: stretch;
    justify-content: center;

}

.homelink
{   font-size: 35px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.title
{
    flex-basis: 50%;
    font-size: 70px;
    max-width: fit-content;
}

.linkssection
{   flex-grow: 1;
    flex-basis: 10%;
    display: flex;
    font-size: 35px;
    gap: 4rem;
    align-items: center;
    justify-content: flex-end;
}

main
{
    display: flex;
    flex-direction: column;
}

.mainandsidebar
{
    display: flex;
}

.sidebar
{   
    flex-basis: 40%;
    display: flex;
    justify-content: flex-end;
}


.ingredients {
background-color: #7393B3;
padding: 0;
margin-right: 95px;
margin-top: 50px;
margin-bottom: 50px;
min-width: 215px;
max-width: 215px;
font-size: 30px;
list-style: none;
display: flex;
flex-direction: column;
justify-content: space-around;
text-align: center;
}

.ingredientitem
{   flex-basis: 220px;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
}   


.main
{   
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: flex-start;
    flex-basis: 60%;
    max-width: fit-content;
}

.poem
{   background-color: #7393B3;
    margin-top: 50px;
    max-width: 700px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.method
{   margin-bottom: 50px;
    flex-basis: 800px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    gap: 35px;
    justify-content: center;
    max-width: 700px;
}

.step
{
 background-color: #7393B3;
 font-size: 30px;
 flex-basis: 40%;
 flex-grow: 1;
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
 padding: 5px;
}

.footer
{   background-color: #7393B3;
    font-size: 30px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
    border-radius: 0;
}